<table>
    <tbody>
        <tr>
            <td rowspan="2"><img src="~/assets/layouts/layout/img/logo-hcc30.png" style="width: 150px;height: 150px;" /></td>
            <td style="text-align:center">HEALTH CARE CENTRE - @DateTime.Now.Year</td>
            <td rowspan="2"><img src="~/assets/layouts/layout/img/logo-hcc30.png" style="width: 150px;height: 150px;" /></td>
        </tr>
        <tr>
            <td style="text-align:center">VOUCHER BILL</td>
        </tr>
    </tbody>
</table>
<table>
    <tr>
        <td colspan="3">Patient Name : @ViewData["PatientName"]</td>
        <td colspan="3">Age : @ViewData["Age"]</td>

        <td colspan="3">Date : @ViewData["Date"]</td>
    </tr>
    <tr>

        <td colspan="3">Invoice No : @ViewData["InvoiceNumber"]</td>

        <td colspan="3">Amount : @ViewData["Amount"] Tk.</td>

        <td colspan="3">Particulars : @ViewData["Particulars"]</td>
    </tr>
</table>
<br />
<br />
<br />
<br />
<table>
    <tr>
        <td class="remove-border" colspan="3">Date : ..................</td>

        <td class="remove-border" colspan="3">Signature : ..................</td>
    </tr>
</table>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    .remove-border {
        border: 0px solid white;
    }
</style>

