
@using System
@model IEnumerable<HealthCare.Web.Models.Doctor.DoctorViewModel>
@using HealthCare.Web.Models.Modal

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a id="sample_editable_1_new" class="btn sbold green" asp-area="" asp-controller="Doctor" asp-action="CreateEdit" asp-route-id="0">
                                    Add New<i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                @if (Model.Count() > 0)
                {
                    <table class="table table-striped table-bordered table-hover table-checkable order-column" id="sample_1">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                </th>
                                <th> Doctor Name </th>
                                <th> BMDC Reg. No </th>
                                <th> Department </th>
                                <th> Specilization </th>
                                <th> Designation </th>
                                <th> Mobile </th>
                                <th> Edit </th>
                                <th> Delete </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var doctor in Model.ToList())
                            {

                                <tr class="odd gradeX">
                                    <td><input type="checkbox" class="checkboxes" value="1" /></td>
                                    <td> @doctor.Name </td>
                                    <td> @doctor.BmdcRegNumber </td>
                                    <td> @doctor.DepartmentName </td>
                                    <td> @doctor.Specilization </td>
                                    <td> @doctor.Designation </td>
                                    <td> @doctor.MobileNumber </td>
                                    <td><a class="btn btn-success edit" asp-action="CreateEdit" asp-route-id="@doctor.Id"> <i class="glyphicon glyphicon-edit"></i>  Edit </a></td>
                                    <td>
                                        <a id="deletedoctorModal" data-toggle="modal" asp-action="Delete" asp-route-id="@doctor.Id" data-target="#modal-action-doctor" class="btn btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>  Delete
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
</div>

@Html.Partial("_Modal", new BootstrapModel { ID = "modal-action-doctor", AreaLabeledId = "modal-action-doctor-label", Size = ModalSize.Medium })
@section scripts
{
    <script src="~/js/doctor-manage.js" asp-append-version="true"></script>
}
